.dialog-box {
  width: max-content;
  height: max-content;
  margin: 15% auto;
  background-color: white;
  display: flex;
  padding: 30px;
  border-radius: 5px;
  border: 2px solid #000;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dialog-element-contaier {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 100vh;
  width: 100vw;
  background-color: rgb(0, 0, 0, 0.8);
}
